.center {
    margin: auto;
    width: 60%;
    align-self: center;
}

input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 70%;
    background-color: #5D6D7E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: rgb(76, 99, 124);
    }


.form {
    border: solid white;
    padding-left: 20px;
    border-radius: 4px;
    backdrop-filter: blur(5px);
}
