* {
  box-sizing: border-box;
}
body {
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #ffffff;
  padding: 40px 55px;
  color: #212121;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
main h1.title {
  text-transform: uppercase;
  border: 3px solid #212121;
  padding: 12px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  width: 320px;
  text-align: center;
}
main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
main form h1 {
  font-size: 22px;
  margin: 0 0 10px 0;
}
main form div, main form input[type="submit"] {
  margin-top: 10px;
  width: 320px;
  border-radius: 6px;
}
main form div {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(33, 33, 33, 0.3);
  padding: 5px 10px;
}
main form div:focus-within {
  border: 1px solid rgba(33, 33, 33, 1);
}
main form div label {
  font-size: 13px;
}
main form input[type="text"], main form input[type="password"] {
  border: none;
  outline: none;
  background: none;
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
}
main form input[type="submit"] {
  color: #ffffff;
  background-color: #0d47a1;
  border: none;
  padding: 10px 0;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}
main form input[type="submit"]:hover {
  background-color: #1565c0;
}
main form a {
  font-size: 13px;
  margin-top: 7px;
  text-decoration: none;
  color: #0d47a1;
  font-weight: 500;
}
main .error {
  width: 320px;
  text-align: center;
  font-size: 14px;
  color: #d32f2f;
  font-weight: 500;
}
main .error_signup {
  width: 320px;
  text-align: center;
  font-size: 14px;
  color: #d32f2f;
  font-weight: 500;
}

main form input[type="submit"][value="Sign up"] {
  background-color: #2e7d32;
}
main form input[type="submit"][value="Sign up"]:hover {
  background-color: #388e3c;
}

